@model Person

<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Email</td>
    <td>
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">
            Edit
        </a>
        <a class="btn btn-warning" asp-action="Delete" asp-route-id="@Model.Id">
            Delete
        </a>
    </td>
</tr>